.heroes li {
    background-color: bisque;
    margin-bottom: 1rem;
    padding: 1rem 0rem 1rem 0rem;
}
.heroes li:hover {
    cursor: pointer;
}
.heroes .selected {
    background-color: black;
    color: white;
}